header{
    background-color: var(--color-amarillo) ;
}
ul{
    font-size: 12px;
}
.titulares{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.descuentos{
    font-size: 16px;
    color: var(--color-Verde);

}
.descripcion{
    font-size: 16px;
    color: var(--color-Grisoscuro);
    padding-left: 1rem;
    padding-bottom: 1rem;

}
footer article{
text-align: center;
}
footer i{
    font-size: 2em;
    margin-bottom: 10px;
}
.burger-menu{
    display: flex;
align-items: center;
justify-content: center;
background-color: var(--color-Celeste);
width: 30px;
height: 33px;
border-radius:5px;
margin-right: auto;
margin-left: auto;
}

header p {
    display: flex;
align-items: center;
justify-content: center;
padding:16px;
}
header img{
    width: 40%;

}
header ul{
    list-style: none;
}
main {
    width: 90vw;
    margin-right: auto;
    margin-left: auto;

}
.productos{
    margin-left: auto;
    margin-right: auto;

}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.controllogo{
    width: 50%;

}
.controllupa{
    width: 50%;
}
.detalle{
 position: relative;
 padding-left: 15px ;
 padding-top: 15px;
 border-top: 1px solid #ebebeb;
}
body{
    background-color: #ebebeb;
}
.producto{
    background-color: #fff ;
    margin-bottom: 10px;
}
.camioncito{
    position: absolute;
    top: -1.4rem;
    right: 1rem;
    padding: .8em;
    width: min-content;
    font-size: 1rem;
    color: var(--color-Verde);
    background-color: #fff;
    border: 1px solid var(--color-Verde);
    border-radius: 50%;
    
}
@media screen and (min-width: 360px) {
    .producto{
        box-shadow: 0 0 10px rgb(100,100,100);
    }
    .burger-menu{
        display: none;
    }
}
@media screen and (max-width: 360px) {
    .descripcion{
        display: none;
    }
   .navbar{
    display: none;
   }
}
